// 全局样式文件入口

@import './common.scss';
$testColor: #42b983;
// 间距 (全站的外边距和内边距都基于此值)
$font-size-default:14px;

//极细字体
$font-weight-medium:100;
//常规字体
$font-weight-normal:normal;
//粗体字体
$font-weight-bold:bold;
//主色调
$color-primary:#42b983;

$margin-top: 12px;